<h1>ALL COCKTAILS !</h1>
<hr>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= (cl_image_tag cocktail.photo.key, width: 50, height: 50) if cocktail.photo.attached? %><%= link_to "#{cocktail.name}", cocktail_path(cocktail) %></li>
    <hr>
  <% end %>
</ul>

<%= link_to "Add a new Cocktail +", new_cocktail_path, class:"btn btn-primary" %>